.strike {
    text-decoration: line-through;
}
section {
    display: flex;
    display: flex;
    align-items: center;
}

span {
    justify-content: center;
    text-align: left;
    width: 300px;
    overflow-wrap: break-word;
    padding: 0 10px;
}
.delete {
    height: fit-content;
    padding: none;
}
/* input {
    text-align: center;
} */

.todo-item {
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
}